* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #252A34;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    color: #fff;
    font-size: 1rem;
    align-items: center;
}

a:hover {
    color: #222831;
}

header {
    width: 100%;
    position: relative;
    padding: 0 2rem;
    background-color: #FF2E63;
}

.navbar {
    width: 100%;
    height: 60px;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.links {
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.navbar i {
    color: #fff;
    font-size: 2rem;
    margin-left: 25px;
}

.logo i {
    color: #fff;
    font-size: 2rem;
}

.logo i:hover {
    color: #222831;
}

.navbar i:hover {
    color: #222831;
    cursor: pointer;
}