/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #dcdada;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,h2,h5 {
    font-family: helvetica;
}

ul {
    list-style: none;
}

/* Navbar */
.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #f5f5f5;
    align-items: center;
}

.navbar i {
    margin-top: -3px;
    color: #f5f5f5;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

.nav-links {
    color: #eaeaea;
    display: flex;
    align-items: center;
}

.nav-links li a {
    color: #eaeaea;
    transition: .3s ease;
    
}

.nav-links li a:hover,
.navbar i:hover {
    color: #FF2E63;
    cursor: pointer;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links li a.onpage {
    color: #FF2E63;
}


.sub-menu-wrap {
    visibility: hidden;
    position: absolute;
    display: none;
    top: 80%;
    right: 0%;
    width: 10rem;
    background: #fff;
    padding: 0.5rem;
    /* Tambahkan padding untuk memberi ruang di sekitar konten */
    margin: 5px;
    justify-content: center;
    z-index: 1000;
}

.sub-menu-wrap a {
    position: relative;
    color: #000;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    display: block;
    /* Mengubah tampilan elemen anchor menjadi block */
    padding: 0.5rem 0;
    /* Tambahkan padding di atas dan bawah untuk memberi jarak vertikal */
}

.sub-menu-wrap a:hover {
    color: #FF2E63;
}

.sub-menu-show {
    visibility: visible;
    display: block;
}
/* End of Navbar */

/* Header content */
header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 0, 0, 0.55), rgba(12, 0, 0, 0.55)), url(../images/wallpaper1.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header-content {
    margin-left: 150px;
    color: #f5f5f5;
    text-align: left;
}

.header-content h2 {
    font-size: 4vmin;
    margin-bottom: 5px;
}

.header-content .line {
    width: 150px;
    height: 4px;
    background: #FF2E63;
    margin: 10px 0;
    margin-bottom: 30px;
    margin-top: 8px;
}

.line {
    width: 150px;
    height: 4px;
    background: #121212;
    margin: 10px auto;
}

/* Section */

section {
    width: 80%;
    margin: 80px auto;
}

.title {
    align-items: center;
    font-size: 4vmin;
    text-align: center;
}


/* Card */

.content1 {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    /* Center the card grid */
}

.card-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* Ensure all cards are in one row */
    justify-content: center;
    max-width: 1200px;
}

.card1 {
    background-color: #ededed;
    flex: 1 1 calc(20% - 20px);
    max-width: 220px;
    border: 2px solid #fff;
    border-radius: 2px;
    overflow: hidden;
    transition: transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.card1:hover {
    transform: scale(1.05);
    background-color: #f5f5f5;
}

.card-image img {
    width: 100%;
    height: 110px;
    /* Tinggi gambar diperbesar */
}

.card-content {
    padding: 15px;
    /* Padding diperbesar */
    text-align: center;
}

.card-content h5 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #121212;
}

.card-content p {
    color: #121212;
    margin: 5px 0;
    font-size: 16px;
}

/* Search for games */

.search-game {
    width: 101%;
    height: 110vh;
    background-image: linear-gradient(rgba(12, 0, 0, 0.4), rgba(12, 0, 0, 0.4)), url(../images/wallpaper2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.search-content {
    width: 100%;
    color: #f5f5f5;
    align-items: center;
    flex-direction: column;
    margin-left: 150px;
}

.search-content h1 {
    font-size: 5vmin;
}
.search-form {
    width: 85%;
}
.search-content .line {
    width: 150px;
    height: 4px;
    background: #FF2E63;
    margin: 15px 0 30px 0;
}

/* Navbar search-box styling */
.search-box {
    background-color: #fff;
    border-radius: 2rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    width: 20vw;
}

.search-box i {
    color: #252A34;
    font-size: 1.2rem;
}

#search-icon {
    margin-left: 10px;
}

input[type="search"] {
    background: transparent;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    color: hsl(252, 30%, 17%);
    border: none;
    outline: none;
    width: 100%;
}

.search-content p {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #9f9e9e;
}

.search-content ul li {
    color: #fff;
    margin: 10px 0;
}

.search-content ul li a {
    color: #fff;
    transition: .2s ease;
}

.search-content ul li a:hover {
    color: #FF2E63;
}

/* Footer */

.footer {
    width: 100%;
    height: 150px;
    padding: 25px 80px;
    background-color: #202020;
    text-align: center;
    color: #f5f5f5;
    position: relative;
    bottom: 0;
    justify-content: center;
}

.footer p {
    margin: 20px auto;
    padding: 20px auto;
}


/* Modal content */

.modal-content {
    font-family: 'Poppins';
    display: none;
    background-color: #f5f5f5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin: auto;
    padding: 30px;
    border: 1px solid #ddd;
    width: 450px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease;
    justify-content: center;
}

.icon {
    margin-left: 147px;
    border: 1px solid #000;
    justify-content: center;
    height: 100px;
    width: 100px;
    color: #FF2E63;
    border: 3px solid #FF2E63;
    border-radius: 50%;
    line-height: 110px;
    font-size: 50px;
}
.modal-content h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 10px 10px 10px 10px;
    color: #121212;
}

.close {
    color: #aaa;
    position: absolute;
    top: 3px;
    right: 13px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #121212;
}

button#confirmLogout {
    width: 100px;
    padding: 10px 20px;
    margin: 10px 10px;
    border: 0.1px solid #FF2E63;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dcdada;
}

button#cancelLogout {
    width: 100px;
    padding: 10px 20px;
    margin: 10px 10px;
    border: 0.1px solid #121212;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dcdada;
    color: #000000;
}

button#confirmLogout:hover {
    opacity: 0.8;
    background-color: #FF2E63;
    font-weight: bold;
    color: #fff;
}

button#cancelLogout:hover {
    opacity: 0.8;
    background-color: #121212;
    color: #fff;
    font-weight: bold;
}

/* End of Modal content */

/*  */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #202020;
    margin: 0 4px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #202020;
    color: white;
    border: 1px solid #202020;
    font-weight:bold;
}

.pagination a:hover:not(.active) {
    background-color: #202020;
    color: #fff;
    font-weight: bold;
}