/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #121212;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h5 {
    font-family: helvetica;
    color: #f5f5f5;
}

ul {
    list-style: none;
}

/* Navbar */
.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #f5f5f5;
    align-items: center;
}

.navbar i {
    margin-top: -3px;
    color: #f5f5f5;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

.nav-links {
    color: #eaeaea;
    display: flex;
    align-items: center;
}

.nav-links li a {
    color: #eaeaea;
    transition: .3s ease;
    
}

.nav-links li a:hover,
.navbar i:hover {
    color: #FF2E63;
    cursor: pointer;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links li a.onpage {
    color: #FF2E63;
}


.sub-menu-wrap {
    visibility: hidden;
    position: absolute;
    display: none;
    top: 80%;
    right: 0%;
    width: 10rem;
    background: #fff;
    padding: 0.5rem;
    /* Tambahkan padding untuk memberi ruang di sekitar konten */
    margin: 5px;
    justify-content: center;
    z-index: 1000;
}

.sub-menu-wrap a {
    position: relative;
    color: #000;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    display: block;
    /* Mengubah tampilan elemen anchor menjadi block */
    padding: 0.5rem 0;
    /* Tambahkan padding di atas dan bawah untuk memberi jarak vertikal */
}

.sub-menu-wrap a:hover {
    color: #FF2E63;
}

.sub-menu-show {
    visibility: visible;
    display: block;
}

/* End of Navbar */

/* Header content */
header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 0, 0, 0.55), rgba(12, 0, 0, 0.55)), url(../images/wallpaper3.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header-content {
    margin-left: 150px;
    color: #f5f5f5;
    text-align: left;
}

.header-content h2 {
    font-size: 4vmin;
    margin-bottom: 5px;
}

.header-content .line {
    width: 150px;
    height: 4px;
    background: #FF2E63;
    margin: 10px 0;
    margin-bottom: 30px;
    margin-top: 8px;
}

.line {
    width: 150px;
    height: 4px;
    background: #333;
}




/* Modal content */
.modal-content {
    font-family: 'Poppins';
    display: none;
    background-color: #f5f5f5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin: auto;
    padding: 30px;
    border: 1px solid #ddd;
    width: 450px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease;
    justify-content: center;
}

.icon {
    margin-left: 147px;
    border: 1px solid #000;
    justify-content: center;
    height: 100px;
    width: 100px;
    color: #FF2E63;
    border: 3px solid #FF2E63;
    border-radius: 50%;
    line-height: 110px;
    font-size: 50px;
}

.modal-content h2 {
    font-size: 35px;
    font-weight: 500;
    margin: 10px 10px 10px 10px;
    color: #121212;
}

.close {
    color: #aaa;
    position: absolute;
    top: 3px;
    right: 13px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #121212;
}

button#confirmLogout {
    width: 100px;
    padding: 10px 20px;
    margin: 10px 10px;
    border: 0.1px solid #FF2E63;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dcdada;
}

button#cancelLogout {
    width: 100px;
    padding: 10px 20px;
    margin: 10px 10px;
    border: 0.1px solid #121212;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dcdada;
    color: #000000;
}

button#confirmLogout:hover {
    opacity: 0.8;
    background-color: #FF2E63;
    font-weight: bold;
    color: #fff;
}

button#cancelLogout:hover {
    opacity: 0.8;
    background-color: #121212;
    color: #fff;
    font-weight: bold;
}

/* End of Modal content */

/* Success Modal Styles */
#success-modal .modal-content2 {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#success-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#success-modal .close-btn:hover,
#success-modal .close-btn:focus {
    color: #000;
    text-decoration: none;
}

#success-modal h2 {
    margin-bottom: 20px;
    color: #4CAF50;
    font-size: 24px;
}

#success-modal .line {
    height: 2px;
    background-color: #4CAF50;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#success-modal p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#success-modal .modal-btn {
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#success-modal .modal-btn:hover {
    background-color: #45a049;
    color: #fff;
}

/* End of Success Modal Styles */

/* Withdrawal Success Modal Styles */
#withdraw-success-modal .modal-content2 {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#withdraw-success-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#withdraw-success-modal .close-btn:hover,
#withdraw-success-modal .close-btn:focus {
    color: #000;
    text-decoration: none;
}

#withdraw-success-modal h2 {
    margin-bottom: 20px;
    color: #4CAF50;
    font-size: 24px;
}

#withdraw-success-modal .line {
    height: 2px;
    background-color: #4CAF50;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#withdraw-success-modal p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#withdraw-success-modal .modal-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#withdraw-success-modal .modal-btn:hover {
    background-color: #45a049;
}

/* End of Withdrawal Success Modal Styles */

/* Withdrawal Failure Modal Styles */
#withdraw-failure-modal .modal-content2 {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#withdraw-failure-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#withdraw-failure-modal .close-btn:hover,
#withdraw-failure-modal .close-btn:focus {
    color: #000;
    text-decoration: none;
}

#withdraw-failure-modal h2 {
    margin-bottom: 20px;
    color: #f44336;
    font-size: 24px;
}

#withdraw-failure-modal .line {
    height: 2px;
    background-color: #f44336;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#withdraw-failure-modal p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#withdraw-failure-modal .modal-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#withdraw-failure-modal .modal-btn:hover {
    background-color: #e53935;
}
/* End of Withdrawal Failure Modal Styles */

/* Top Up content */
#top-up {
    padding: 5px 30px 5px 30px;
    margin-top: 25px;
    color: #dcdada;
    background-color: #1d72b8;
    border: 1px solid #1d72b8;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    border-radius: 1px;
    margin-right: 20px;
}

#top-up:hover {
    background-color: #377fba;
    cursor: pointer;
}

#withdraw {
    padding: 5px 20px 5px 20px;
    margin-top: 25px;
    color: #000;
    background-color: #dcdada;
    border: 1px solid #dcdada;
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    border-radius: 1px;
    margin-right: 20px;
}

#withdraw:hover {
    background-color: #ebe5e5;
    cursor: pointer;
}

/* End of Top up content */

/* Withdraw content */

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    max-width: 400px;
    border-radius: 8px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.top-up-form,
.withdraw-form {
    padding: 20px;
}

.top-up-form h2 {
    color: #333;
    margin-left: 110px;
}

.withdraw-form h2 {
    color: #333;
    margin-left: 100px;
}

#wd-line {
    margin-left: 78px;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form p {
    margin: 0;
}

form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #fff;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s;
    font-weight: bold;
}

form button:hover {
    background-color: #218838;
    color: #fff;
    font-weight: bold;
}

/* End of Withdraw content */