
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

li {
    list-style: none;
}

a{ 
    text-decoration: none;
}

.line {
    width: 150px;
    height: 4px;
    background: #333;
    margin: 10px 503px;
}

/* Navbar */
.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #f5f5f5;
    align-items: center;
    background-color: #121212;
}

.navbar i {
    margin-top: -3px;
    color: #f5f5f5;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li a {
    color: #f5f5f5;
    transition: .3s ease;
    font-family: 'Times New Roman', Times, serif;
}

.nav-links li a:hover,
.navbar i:hover {
    color: #FF2E63;
    cursor: pointer;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links li a.onpage {
    color: #FF2E63;
}


.sub-menu-wrap {
    visibility: hidden;
    position: absolute;
    display: none;
    top: 80%;
    right: 0%;
    width: 10rem;
    background: #fff;
    padding: 0.5rem;
    /* Tambahkan padding untuk memberi ruang di sekitar konten */
    margin: 5px;
    justify-content: center;
    z-index: 1000;
}

.sub-menu-wrap a {
    position: relative;
    color: #000;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    display: block;
    /* Mengubah tampilan elemen anchor menjadi block */
    padding: 0.5rem 0;
    /* Tambahkan padding di atas dan bawah untuk memberi jarak vertikal */
}

.sub-menu-wrap a:hover {
    color: #FF2E63;
}

.sub-menu-show {
    visibility: visible;
    display: block;
}
/* End of Navbar */


/* Cart container */
.cart-container {
    width: 80%;
    margin: 200px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


/* Cart */
.cart-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-table {
    width: 65%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.cart-table th, .cart-table td {
    border: none;
    padding: 10px;
    text-align: center;
    color: #333;
}

.cart-table th {
    background-color: #f4f4f9;
    color: #333;
    font-weight: bold;
}

.cart-table tbody tr {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.cart-table tbody tr:hover {
    transform: scale(1.02);
}

.cart-table img {
    max-width: 80px;
    border-radius: 5px;
}

.remove {
    color: #ff6b6b;
    cursor: pointer;
    transition: color 0.3s;
}

.remove:hover {
    color: #ff4757;
    text-decoration: underline;
}


/* Checkout box */
.cart-summary {
    width: 30%;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: auto;
}
.cart-summary .summary-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

#line {
    height: 1px;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    margin: 10px 0 0 0;/* Tambahkan margin untuk memberi jarak */
}

.cart-summary .summary-item span {
    display: block;
    margin-top: 10px;
}

.cart-summary p {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

#total {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 30px;
}

.checkout-btn {
    margin-top: 20px;
    background-color: #1d72b8;
    color: #fff;
    border: none;
    padding: 15px 50px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: #155a8a;
}


/* Footer */

.footer {
    width: 100%;
    height: 150px;
    padding: 25px 80px;
    background-color: #202020;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 0;
    align-items: center;
}

.footer p {
    margin: 20px auto;
    padding: 20px auto;
}